PORT=3000
NODE_ENV=development
PUBLIC_BASE_URL=http://localhost:3000
API_BASE_URL=http://localhost:3000
JWT_SECRET=cambiar_en_produccion
DATABASE_URL=postgresql://usuario:clave@host:5432/fleet_command
TRACCAR_URL=http://TU_SERVIDOR_TRACCAR:8082
TRACCAR_EMAIL=correo@empresa.com
TRACCAR_PASSWORD=clave_traccar
MAPTILER_KEY=tu_key_maptiler
OPENWEATHER_API_KEY=tu_key_openweather
WOMPI_PUBLIC_KEY=
WOMPI_PRIVATE_KEY=
MERCADOPAGO_ACCESS_TOKEN=
STRIPE_SECRET_KEY=
MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USER=apikey
MAIL_PASS=
FROM_EMAIL=no-reply@tudominio.com
SALES_EMAIL=ceoandres@icloud.com
SUPPORT_EMAIL=ventas@fleetcommand.co
WHATSAPP_NUMBER=573127894040
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
